<% provide(:title, "Home")%>

<div id="outer-box">
  <%= image_tag "pngtree-blue-technology-web-banner-image_122453.jpg"%>
  <div id="inner-box">
    <h1>Rodrigo Botafogo</h1>
    <p>Polyglot Programmer and IT Professional</p>
  </div>
</div>

<div>
  <h2>Rodrigo Botafogo, MSc.</h2>
</div>
